$font: 'Inter';
$logo-font: 'Poppins';
$pagination-font: 'Roboto';
$empty-state-font: 'Open Sans';

$white: #FFFFFF;
$grey-100: #F5F5F6;
$grey-200: #EAEBED;
$grey-300: #D5D6DC;
$grey-500: #ACADB9;
$grey-600: #7B7C88;
$grey-900: #343A40;
$black: #232134;

$blue-600: #3B7CD3;
$blue-500: #5E96FC;
$blue-400: #92C1FF;
$blue-300: #B7D6FF;
$blue-200: #C9E0FF;
$blue-100: #DEECFF;

%card {
	background: $white;
	border: 1px solid $grey-200;
	border-radius: 12px;
	width: 100%;
}